.forecastLayout{
    width: 100vw; 
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border-top: 3px solid rgba(255, 255, 255, 0.288);
    background-color: rgba(245, 245, 245, 0.884);
}